[defaults]
inventory = /home/Ansible/ansible/inventory/hosts.ini
roles_path = /home/Ansible/ansible/roles
host_key_checking = False
retry_files_enabled = False
stdout_callback = default
result_format = yaml

[privilege_escalation]
become = True
become_method = sudo
become_user = root
